# Dataset Analysis (1+1+2 = 4 Marks)

1. (T0) Explore the dataset assigned to your team and provide:

In [1]:
# importing libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# read the csv data
df= pd.read_csv("IPL Ball-by-Ball 2008-2020 - IPL Ball-by-Ball 2008-2020.csv")

In [3]:
# getting outline of the dataset
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

# a) Summary of the Dataset 
Includes information about columns, attribute types, null values(if any), and summary of each attribute.

By looking at the columns of the dataset given(IPL Ball-by-Ball 2008-2020),we can clearly understand the data above and summarize it as shown below

### Understanding our Dataset.
### The dataset consists of 18 columns:
										
- id: The match ids to uniquely identify each match.

- inning: one of the divisions of a match during which one team takes its turn to bat/ball 

- over: A bowler delivers the ball from his end of the pitch six times to the batsman at the opposite wicket

- ball: each ball bowled by bowler to complete it over

- batsman :Any player who is currently batting 

- non_striker:Any player who is on the opposing crease and currently not batting 

- bowler:Person performing action of propelling the ball toward the opposing  wicket

- batsman_runs: Run taken by batsmen in a particular ball

- extra_runs: a run scored by, or awarded to, a batting team which is not credited to any individual batsman 

- total_runs : Total Runs Scored in a ball

- non_boundary: To predict if there is any boundary in an over

- is_wicket: Bowler taking a wicket on the ball

- dismissal_kind: Kind of dismissal that make the batmen out

- player_dismissed: Name of the player which is out

- fielder: catch/runout taken by a fielder

- extras_type: category of extra runs that are given 

- batting_team: The team who is batting 

- bowling_team: The team who is bowling

### We will be further looking into the below attributes
- index
- columns
- dtypes
- size
- shape
- ndim 
- empty
- isnull

In [4]:
# overview of given dataset - a concise summary of the dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [5]:
# Range Index: total number of rows  
# Index: name of the every column
df.axes

[RangeIndex(start=0, stop=193468, step=1),
 Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
        'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
        'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
        'batting_team', 'bowling_team'],
       dtype='object')]

In [6]:
# datatype of each column 
df.dtypes

id                   int64
inning               int64
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
batsman_runs         int64
extra_runs           int64
total_runs           int64
non_boundary         int64
is_wicket            int64
dismissal_kind      object
player_dismissed    object
fielder             object
extras_type         object
batting_team        object
bowling_team        object
dtype: object

In [7]:
# display the number of tuples present in the dataset
df.size

3482424

In [8]:
# display the total number of rows and columns for a particular dataframe
df.shape

(193468, 18)

In [10]:
# display the number of dimensions
df.ndim

2

In [11]:
# to check whether the dataframe is empty or not
df.empty

False

In [13]:
# get a total count of null values present in the dataframe
df.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [15]:
# Since batting_team have non-null values let us check the teams mentioned in batting_team.
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

On further investigation, we found out that:

 1. few teams have same name but slightly modified data, eg "Rising Pune Supergiants" and "Rising Pune Supergiant" (Notice the 's' in the end of former data    which is missing in the latter one).

 2. the 'bowling_team' attribute have some null values that needs to be taken care of.

These insights will be helpful in data pre-processing
.

### Using pandas-profiling report

In [39]:
 # used to supress the large output log
pip install pandas-profiling

SyntaxError: invalid syntax (3337046777.py, line 2)

In [38]:
# importing pandas-profiling library to use the in-built feature of pandas to genearete report
from pandas_profiling import ProfileReport
profile = ProfileReport(df)
profile

ModuleNotFoundError: No module named 'ipywidgets'

### Data Pre-Processing and Cleaning

Before moving any further, lets have a look at our data to be pre-processed. As discussed in Data Summary section,  we will use pre-processing technique(s) to find the actual unique teams.

In [7]:
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)


**Step 1.1**: 'Delhi Capitals' and 'Delhi Daredevils' is the same team since both of them represent Delhi.

In [13]:
df =df.replace(['Delhi Daredevils'],'Delhi Capitals')
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

**Step 1.2**: Removing the old teams like 'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors' , 'Rising Pune Supergiants'

###### **WE KNOW 'RISING PUNE SUPERGIANTS' PLAYED FOR ONLY 1 SEASON; OTHER TEAMS DON'T PLAY ANYMORE. SO DUE TO DATA INSUFFUCIENCY WE DON'T NEED THESE TEAMS FOR OUR ANALYSIS**

In [12]:
required_team=['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Sunrisers Hyderabad',
        'Gujarat Lions']

In [17]:
# extracting only the required teams according to pre-processed data
df = df[(df['batting_team'].isin(required_team)) & (df['bowling_team'].isin(required_team))]

**Step 2**: After removing the old teams & teams that do not play anymore, it also solved our problem of null value present in bowling team

In [18]:
# lets analyse the percentage of the values that are empty
df.isnull().mean()*100

id                   0.000000
inning               0.000000
over                 0.000000
ball                 0.000000
batsman              0.000000
non_striker          0.000000
bowler               0.000000
batsman_runs         0.000000
extra_runs           0.000000
total_runs           0.000000
non_boundary         0.000000
is_wicket            0.000000
dismissal_kind      95.121246
player_dismissed    95.121246
fielder             96.522980
extras_type         94.702847
batting_team         0.000000
bowling_team         0.000000
dtype: float64

**Step 3**: We might require 'player_dismissed' and 'dismissal_kind' to predict the strategy to bowl against the batsman. We will be filling the "NA" values as "Not Out" in our case. We could have considered replacing it with 0, but the data is already being stored in string format. So, to make the data more readable, we are not using 0 to indicate 'Not Out" so as to increase the readability for users.

In [12]:
df['dismissal_kind'].fillna(value ="Not Out",inplace=True)
df['player_dismissed'].fillna(value ="Not Out",inplace=True)

**Step 4**: We are droping column "extras_type" and "fielder" as it will not affect our analysis

In [13]:
df.drop(['extras_type','fielder'],axis=1,inplace=True)

After completing the Data Pre-Processing tasks, our data looks like this

In [14]:
df.isnull().sum()

id                    0
inning                0
over                  0
ball                  0
batsman               0
non_striker           0
bowler                0
batsman_runs          0
extra_runs            0
total_runs            0
non_boundary          0
is_wicket             0
dismissal_kind        0
player_dismissed      0
batting_team          0
bowling_team        191
dtype: int64

We successfully removed all the non-null values and now we are ready to process this data

### Summary statistics

#### Top 10 batsmen based on the total runs scored

In [24]:
runs = df.groupby(['batsman'])['batsman_runs', 'inning'].sum().reset_index()
sorted_players = runs.sort_values(by ='batsman_runs', ascending =False).head(5).reset_index().drop('index', axis=1)

# adding a new column, strike_rate, to our new dataframe
sorted_players['strike_rate'] = runs['batsman_runs']/runs['inning']*100
sorted_players

C:\Users\rohan\AppData\Local\Temp\ipykernel_9328\2515532337.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  runs = df.groupby(['batsman'])['batsman_runs','inning'].sum().reset_index()

     batsman  batsman_runs  inning  strike_rate
0    V Kohli          5878    6738   101.083032
1   SK Raina          5368    5746    57.142857
2  DA Warner          5254    5569    67.948718
3  RG Sharma          5230    5906    89.285714
4   S Dhawan          5197    5926    80.000000

#### Top 10 batsmen based on the total no. of 6's scored

In [27]:
six = df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==6).sum()).reset_index()
six.sort_values(by='batsman_runs',ascending =False).head(10).reset_index().drop('index',axis=1)

          batsman  batsman_runs
0        CH Gayle           349
1  AB de Villiers           235
2        MS Dhoni           216
3       RG Sharma           214
4         V Kohli           202
5      KA Pollard           198
6       DA Warner           195
7        SK Raina           194
8       SR Watson           190
9      RV Uthappa           163

#### Top 10 batsmen based on the total no. of 4's scored

In [30]:
four=df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==4).sum()).reset_index()
four.sort_values(by='batsman_runs',ascending =False).head(10).reset_index().drop('index',axis=1)

          batsman  batsman_runs
0        S Dhawan           591
1       DA Warner           510
2         V Kohli           504
3        SK Raina           493
4       G Gambhir           492
5       RG Sharma           458
6      RV Uthappa           454
7       AM Rahane           416
8  AB de Villiers           390
9        CH Gayle           384

Top 10 bowlers based on wickets taken

In [34]:
wicket = df.groupby(['bowler'])['is_wicket','inning','over','batsman_runs'].sum().reset_index()
sortedbowl_players=wicket.sort_values(by ='is_wicket',ascending =False).head(10).reset_index().drop('index',axis=1)
sortedbowl_players

C:\Users\rohan\AppData\Local\Temp\ipykernel_9328\3886982654.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wicket = df.groupby(['bowler'])['is_wicket','inning','over','batsman_runs'].sum().reset_index()

            bowler  is_wicket  inning   over  batsman_runs
0       SL Malinga        188    4520  29863          3193
1         DJ Bravo        175    4135  36112          3659
2         A Mishra        169    5006  33724          3788
3        PP Chawla        164    4713  33110          4196
4  Harbhajan Singh        161    5212  29367          3868
5         R Ashwin        153    5180  29173          3581
6          B Kumar        146    4268  22926          3132
7        SP Narine        143    3979  30116          3086
8         UT Yadav        137    3592  22928          3446
9    R Vinay Kumar        127    3286  20985          2906

#### Top 10 bowlers based on most innings played

In [35]:
wicket = df.groupby(['bowler'])['is_wicket','inning','over','batsman_runs'].sum().reset_index()
sortedbowl_players=wicket.sort_values(by ='inning',ascending =False).head(10).reset_index().drop('index',axis=1)
sortedbowl_players

C:\Users\rohan\AppData\Local\Temp\ipykernel_9328\3334628995.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wicket = df.groupby(['bowler'])['is_wicket','inning','over','batsman_runs'].sum().reset_index()

            bowler  is_wicket  inning   over  batsman_runs
0  Harbhajan Singh        161    5212  29367          3868
1         R Ashwin        153    5180  29173          3581
2         A Mishra        169    5006  33724          3788
3        PP Chawla        164    4713  33110          4196
4       SL Malinga        188    4520  29863          3193
5          B Kumar        146    4268  22926          3132
6         DJ Bravo        175    4135  36112          3659
7        SP Narine        143    3979  30116          3086
8        RA Jadeja        122    3958  29728          3408
9          P Kumar        102    3888  17522          3106

#### Top 10 bowlers based on economy

In [36]:
sortedbowl_players['economy'] = wicket['batsman_runs']/wicket['over']
sortedbowl_players

            bowler  is_wicket  inning   over  batsman_runs   economy
0  Harbhajan Singh        161    5212  29367          3868  0.109194
1         R Ashwin        153    5180  29173          3581  0.224074
2         A Mishra        169    5006  33724          3788  0.153244
3        PP Chawla        164    4713  33110          4196  0.230000
4       SL Malinga        188    4520  29863          3193  0.134615
5          B Kumar        146    4268  22926          3132  0.106029
6         DJ Bravo        175    4135  36112          3659  0.112324
7        SP Narine        143    3979  30116          3086  0.136794
8        RA Jadeja        122    3958  29728          3408  0.159175
9          P Kumar        102    3888  17522          3106  0.184524

#### Winning team

First, we will calclulate the total runs scored by the teams in each matches played against each other. But, if we look closely, the data in first 2 rows is having same ids but the position of 'batting_team' and 'bowling_team' is interchanged.

In [78]:
total_runs_in_match = df.groupby(['id','batting_team','bowling_team']).sum()
total_runs_in_match = total_runs_in_match.drop(labels=['inning','over'],axis=1).reset_index()
total_runs_in_match

,id,batting_team,bowling_team,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
0,335982,Kolkata Knight Riders,Royal Challengers Bangalore,448,205,17,222,0,3
1,335982,Royal Challengers Bangalore,Kolkata Knight Riders,383,63,19,82,0,10
2,335983,Chennai Super Kings,Kings XI Punjab,449,234,6,240,0,5
3,335983,Kings XI Punjab,Chennai Super Kings,449,196,11,207,0,4
4,335984,Delhi Daredevils,Rajasthan Royals,358,122,10,132,0,1
...,...,...,...,...,...,...,...,...,...
1623,1237178,Sunrisers Hyderabad,Royal Challengers Bangalore,445,122,10,132,0,4
1624,1237180,Delhi Capitals,Sunrisers Hyderabad,455,181,8,189,1,3
1625,1237180,Sunrisers Hyderabad,Delhi Capitals,456,166,6,172,0,8
1626,1237181,Delhi Capitals,Mumbai Indians,441,152,4,156,0,7
1627,1237181,Mumbai Indians,Delhi Capitals,388,153,4,157,0,5

Now, to make the winner team's calculation easy, let's split the data of same ids into two different dataframes so that we can directly compare the 'total_runs' scored by each team. Here we are spliting the tables by steps of 2 because the data is arranged in the increasing order of id.

In [ ]:
df1=pd.DataFrame(total_runs_in_match[::2]).reset_index()
df2=pd.DataFrame(total_runs_in_match[1::2]).reset_index()

Now we can directly comare the two tables 'total_runs' and decide which team won the match. After storing the data, we can again merge the tables again.

In [79]:

length = len(df1)

for itr in range (0, length):
    if(df1.loc[itr, 'id'] == df2.loc[itr, 'id']):
        if(df1.loc[itr, 'total_runs'] > df2.loc[itr, 'total_runs']):
            winner = df1.loc[itr, 'batting_team']
            df1.at[itr, 'winner'] = winner
            df2.at[itr, 'winner'] = winner

        elif(df1.loc[itr, 'total_runs'] < df2.loc[itr, 'total_runs']):
            winner = df2.loc[itr, 'batting_team']
            df2.at[itr, 'winner'] = winner
            df1.at[itr, 'winner'] = winner

        else:
            df1.at[itr, 'winner'] = 'Draw'
            df2.at[itr, 'winner'] = 'Draw'

# merging the two tables again
winner_team_data = pd.merge(df1, df2, how= 'outer')
winner_team_data

,index,id,batting_team,bowling_team,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,winner
0,0,335982,Kolkata Knight Riders,Royal Challengers Bangalore,448,205,17,222,0,3,Kolkata Knight Riders
1,2,335983,Chennai Super Kings,Kings XI Punjab,449,234,6,240,0,5,Chennai Super Kings
2,4,335984,Delhi Daredevils,Rajasthan Royals,358,122,10,132,0,1,Delhi Daredevils
3,6,335985,Mumbai Indians,Royal Challengers Bangalore,441,154,11,165,0,7,Royal Challengers Bangalore
4,8,335986,Deccan Chargers,Kolkata Knight Riders,431,100,10,110,0,10,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...
1623,1619,1216547,Royal Challengers Bangalore,Mumbai Indians,441,191,10,201,0,3,draw
1624,1621,1237177,Mumbai Indians,Delhi Capitals,427,196,4,200,0,5,Mumbai Indians
1625,1623,1237178,Sunrisers Hyderabad,Royal Challengers Bangalore,445,122,10,132,0,4,Sunrisers Hyderabad
1626,1625,1237180,Sunrisers Hyderabad,Delhi Capitals,456,166,6,172,0,8,Delhi Capitals
1627,1627,1237181,Mumbai Indians,Delhi Capitals,388,153,4,157,0,5,Mumbai Indians