# Dataset Analysis (1+1+2 = 4 Marks)

1. (T0) Explore the dataset assigned to your team and provide:

In [3]:
# importing libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
# read the csv data
df= pd.read_csv("IPL Ball-by-Ball 2008-2020 - IPL Ball-by-Ball 2008-2020.csv")

In [3]:
# getting outline of the dataset
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

# a) Summary of the Dataset 
Includes information about columns, attribute types, null values(if any), and summary of each attribute.

By looking at the columns of the dataset given(IPL Ball-by-Ball 2008-2020),we can clearly understand the data above and summarize it as shown below

### Understanding our Dataset.
### The dataset consists of 18 columns:
										
- id: The match ids to uniquely identify each match.

- inning: one of the divisions of a match during which one team takes its turn to bat/ball 

- over: A bowler delivers the ball from his end of the pitch six times to the batsman at the opposite wicket

- ball: each ball bowled by bowler to complete it over

- batsman :Any player who is currently batting 

- non_striker:Any player who is on the opposing crease and currently not batting 

- bowler:Person performing action of propelling the ball toward the opposing  wicket

- batsman_runs: Run taken by batsmen in a particular ball

- extra_runs: a run scored by, or awarded to, a batting team which is not credited to any individual batsman 

- total_runs : Total Runs Scored in a ball

- non_boundary: To predict if there is any boundary in an over

- is_wicket: Bowler taking a wicket on the ball

- dismissal_kind: Kind of dismissal that make the batmen out

- player_dismissed: Name of the player which is out

- fielder: catch/runout taken by a fielder

- extras_type: category of extra runs that are given 

- batting_team: The team who is batting 

- bowling_team: The team who is bowling

### We will be further looking into the below attributes
- index
- columns
- dtypes
- size
- shape
- ndim 
- empty
- isnull

In [4]:
# overview of given dataset - a concise summary of the dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [5]:
# Range Index: total number of rows  
# Index: name of the every column
df.axes

[RangeIndex(start=0, stop=193468, step=1),
 Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
        'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
        'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
        'batting_team', 'bowling_team'],
       dtype='object')]

In [6]:
# datatype of each column 
df.dtypes

id                   int64
inning               int64
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
batsman_runs         int64
extra_runs           int64
total_runs           int64
non_boundary         int64
is_wicket            int64
dismissal_kind      object
player_dismissed    object
fielder             object
extras_type         object
batting_team        object
bowling_team        object
dtype: object

In [7]:
# display the number of tuples present in the dataset
df.size

3482424

In [8]:
# display the total number of rows and columns for a particular dataframe
df.shape

(193468, 18)

In [10]:
# display the number of dimensions
df.ndim

2

In [11]:
# to check whether the dataframe is empty or not
df.empty

False

In [13]:
# get a total count of null values present in the dataframe
df.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [15]:
# Since batting_team have non-null values let us check the teams mentioned in batting_team.
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

On further investigation, we found out that:

 1. few teams have same name but slightly modified data, eg "Rising Pune Supergiants" and "Rising Pune Supergiant" (Notice the 's' in the end of former data    which is missing in the latter one).

 2. the 'bowling_team' attribute have some null values that needs to be taken care of.

These insights will be helpful in data pre-processing
.

### Using pandas-profiling report

In [16]:
# importing pandas-profiling library to use the in-built feature of pandas to genearete report
from pandas_profiling import ProfileReport
profile = ProfileReport(df)
profile

ModuleNotFoundError: No module named 'pandas_profiling'

### Data Pre-Processing and Cleaning

Before moving any further, lets have a look at our data to be pre-processed. As discussed in Data Summary section,  we will use pre-processing technique(s) to find the actual unique teams.

In [7]:
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)


**Step 1.1**: 'Delhi Capitals' and 'Delhi Daredevils' is the same team since both of them represent Delhi.

In [13]:
df =df.replace(['Delhi Daredevils'],'Delhi Capitals')
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

**Step 1.2**: Removing the old teams like 'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors' , 'Rising Pune Supergiants'

###### **WE KNOW 'RISING PUNE SUPERGIANTS' PLAYED FOR ONLY 1 SEASON; OTHER TEAMS DON'T PLAY ANYMORE. SO DUE TO DATA INSUFFUCIENCY WE DON'T NEED THESE TEAMS FOR OUR ANALYSIS**

In [12]:
required_team=['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Sunrisers Hyderabad',
        'Gujarat Lions']

In [17]:
# extracting only the required teams according to pre-processed data
df = df[(df['batting_team'].isin(required_team)) & (df['bowling_team'].isin(required_team))]

**Step 2**: After removing the old teams & teams that do not play anymore, it also solved our problem of null value present in bowling team

In [18]:
# lets analyse the percentage of the values that are empty
df.isnull().mean()*100

id                   0.000000
inning               0.000000
over                 0.000000
ball                 0.000000
batsman              0.000000
non_striker          0.000000
bowler               0.000000
batsman_runs         0.000000
extra_runs           0.000000
total_runs           0.000000
non_boundary         0.000000
is_wicket            0.000000
dismissal_kind      95.121246
player_dismissed    95.121246
fielder             96.522980
extras_type         94.702847
batting_team         0.000000
bowling_team         0.000000
dtype: float64

**Step 3**: We might require 'player_dismissed' and 'dismissal_kind' to predict the strategy to bowl against the batsman. We will be filling the "NA" values as "Not Out" in our case. We could have considered replacing it with 0, but the data is already being stored in string format. So, to make the data more readable, we are not using 0 to indicate 'Not Out" so as to increate the readability of users.

In [19]:
df['dismissal_kind'].fillna(value ="Not Out",inplace=True)
df['player_dismissed'].fillna(value ="Not Out",inplace=True)

**Step 4**: We are droping column "extras_type" and "fielder" as it will not affect our analysis

In [20]:
df.drop(['extras_type','fielder'],axis=1,inplace=True)

After completing the Data Pre-Processing tasks, our data looks like this

In [21]:
df.isnull().sum()

id                  0
inning              0
over                0
ball                0
batsman             0
non_striker         0
bowler              0
batsman_runs        0
extra_runs          0
total_runs          0
non_boundary        0
is_wicket           0
dismissal_kind      0
player_dismissed    0
batting_team        0
bowling_team        0
dtype: int64

We successfully removed all the non-null values and now we are ready to process this data

### Summary statistics

In [284]:
runs = df.groupby(['batsman'])['batsman_runs','inning'].sum().reset_index()
sorted_players=runs.sort_values(by ='batsman_runs',ascending =False).head(10).reset_index().drop('index',axis=1)
sorted_players['strike_rate'] = runs['batsman_runs']/runs['inning']*100
sorted_players[['batsman','batsman_runs','inning','strike_rate']]

C:\Users\yahoo\AppData\Local\Temp/ipykernel_34964/2164466085.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  runs = df.groupby(['batsman'])['batsman_runs','inning'].sum().reset_index()

          batsman  batsman_runs  inning  strike_rate
0         V Kohli          5878    6738   101.083032
1        SK Raina          5368    5746    57.142857
2       DA Warner          5254    5569    67.948718
3       RG Sharma          5230    5906    89.285714
4        S Dhawan          5197    5926    80.000000
5  AB de Villiers          4849    4661    62.000000
6        CH Gayle          4772    4847    42.682927
7        MS Dhoni          4632    5029    56.211180
8      RV Uthappa          4607    5741    72.340426
9       G Gambhir          4217    5640    79.166667

In [256]:
six=df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==6).sum()).reset_index()
six.sort_values(by='batsman_runs',ascending =False).head(10).reset_index().drop('index',axis=1)

          batsman  batsman_runs
0        CH Gayle           349
1  AB de Villiers           235
2        MS Dhoni           216
3       RG Sharma           214
4         V Kohli           202
5      KA Pollard           198
6       DA Warner           195
7        SK Raina           194
8       SR Watson           190
9      RV Uthappa           163

In [257]:
four=df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==4).sum()).reset_index()
four.sort_values(by='batsman_runs',ascending =False).head(10).reset_index().drop('index',axis=1)

          batsman  batsman_runs
0        S Dhawan           591
1       DA Warner           510
2         V Kohli           504
3        SK Raina           493
4       G Gambhir           492
5       RG Sharma           458
6      RV Uthappa           454
7       AM Rahane           416
8  AB de Villiers           390
9        CH Gayle           384

In [272]:
wicket = df.groupby(['bowler'])['is_wicket','inning','over','batsman_runs'].sum().reset_index()
sortedbowl_players=wicket.sort_values(by ='bowler',ascending =False).head(10).reset_index().drop('index',axis=1)
sortedbowl_players

C:\Users\yahoo\AppData\Local\Temp/ipykernel_34964/1953351429.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wicket = df.groupby(['bowler'])['is_wicket','inning','over','batsman_runs'].sum().reset_index()

              bowler  is_wicket  inning   over  batsman_runs
0             Z Khan        119    3312  16690          2691
1       Yuvraj Singh         39    1316   9637          1064
2          YS Chahal        124    3353  20999          2649
3          YK Pathan         46    1681   9483          1372
4         YA Abdulla         15     337   2085           294
5    Y Venugopal Rao          7     314   2109           329
6      Y Prithvi Raj          1      66    238            54
7            Y Nagar          4     104    768           117
8   Y Gnaneswara Rao          0       6     60             7
9  Washington Sundar         26    1005   4555           739

In [285]:
sortedbowl_players['economy'] = wicket['batsman_runs']/wicket['over']
sortedbowl_players

              bowler  is_wicket  inning   over  batsman_runs   economy
0             Z Khan        119    3312  16690          2691  0.109194
1       Yuvraj Singh         39    1316   9637          1064  0.224074
2          YS Chahal        124    3353  20999          2649  0.153244
3          YK Pathan         46    1681   9483          1372  0.230000
4         YA Abdulla         15     337   2085           294  0.134615
5    Y Venugopal Rao          7     314   2109           329  0.106029
6      Y Prithvi Raj          1      66    238            54  0.112324
7            Y Nagar          4     104    768           117  0.136794
8   Y Gnaneswara Rao          0       6     60             7  0.159175
9  Washington Sundar         26    1005   4555           739  0.184524